build/
CMakeUserPresets.json

Makefile

*.csv
*.fir
*.host.fir
*.host.ll
*.host.o
*.kernels.ttir
*.kernels.json
*.kernels.ttgir.mlir
*.kernels.llvm.mlir
*.kernels.ll
*.kernels.ptx
*.main.o
*.run
*.png

benchmarks/CTestTestfile.cmake
benchmarks/Makefile
benchmarks/cmake_install.cmake
cmake_install.cmake
CMakeFiles
CTestTestfile.cmake
tests/reduction/Testing/

